p{
    color: #000000;
    font-family: "futura-pt", helvetica, sans-serif;
    font-size: 1.35em;
    font-weight: 300;
    max-width: 900px;
}
p.boldText {
	font-weight: bold;
}
p#italicsText {
    font-style: italic;
}
