body{
    font-family: 'Roboto Condensed', helvetica, sans-serif;
}

div.title{
    width: 100%;
    height: 100%;
}

h1{
	color: #000000;
    font-weight: 400;
    font-size: 2.5em;
    max-width: 800px;
    text-align: center;
    margin: 25px, 25px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
}

h2{
    text-align: center;
}

h3{
	font-size: 1.25em;
    font-weight: 300;
    max-width: 800px;
    text-align: center;
    margin-top: 5px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
}

div.bio{
    max-width: 800px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
}

img.bioImage{
    width: 40%;
    margin: auto;
    display: block;
}

p.bioText{
    font-weight: 300;
    font-size: 1.05em;
    line-height: 130%;
}

p.bioText > a{
    color: #000000;
}

p.bioText > a:hover{
    background-color: #FFFF00; 
}

div.linkList{
    max-width: 800px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
}

li.assignmentLink{
    font-weight: 300;
    font-size: 1.05em;
    line-height: 130%;
}

li.assignmentLink > a{
    color: #000000;
}

li.assignmentLink > a:hover{
    background-color: #FFFF00; 
}